@font-face {
    font-family: 'MyCustomFont';
    src: url('statics/font.ttf') format('ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("statics/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'MyCustomFont';
    font-style: italic;
    font-weight: bold;
}

#container {
    position: absolute;
    top: 28vh;
    left: 8vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.char {
    font-size: 30px;
    opacity: 0;
    animation: fadeIn 0.5s forwards, colorChange 2s infinite;
    
}

@keyframes fadeIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color: red;
    }
}
